[Unit]
Description=Announced

[Service]
WorkingDirectory=/opt/Announced
ExecStart=/usr/local/bin/python3.5 /opt/Announced/bot.py
Restart=always
GuessMainPID=no
Type=simple
User=user
Group=user

[Install]
WantedBy=multi-user.target
